<section class="learn">
  <div class="container">
    <div class="learn__inner">
      <h1 class="learn__desc-title">Learn no-code tools today.</h1>
      <p class="learn__desc-text">
        Create beautiful webflow sites with flowbase. Clone for
        free and get started building a site today.
      </p>
      <a href="#" class="learn__video">
        <img class="learn__video-bg" src="../../../assets/images/video.png" alt="">
      </a>
      <a href="#" class="btn btn--learn">Get started</a>
      <div class="learn__students">
        <div class="learn__students-img">
          <img src="../../../assets/images/student_1.png" alt="student 1">
          <img src="../../../assets/images/student_2.png" alt="student 2">
          <img src="../../../assets/images/student_3.png" alt="student 3">
        </div>
        <p class="learn__students-text">Join over <span>4,000+</span> students</p>
      </div>
    </div>
  </div>
</section>
