<section class="instructor">
  <div class="container">
    <div class="instructor__inner">
      <div class="instructor__desc">
        <h3 class="title title--instructor">Hi, I am David, your course instructor.</h3>
        <p class="subtitle subtitle--instructor">
          Create beautiful webflow sites with flowbase. Clone for
          free and get started building a site today.
        </p>
      </div>
      <div class="instructor__img-wrapper">
        <div class="instructor__img">
          <img class="instructor__img-user" src="../../../assets/images/instructor.png" alt="instructor photo">
        </div>
      </div>
    </div>
  </div>
</section>
