<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a routerLink="/" class="logo">
        <img src="../../../assets/images/Logo.svg" alt="logo No Code">
      </a>
      <form class="footer__form">
        <input class="footer__form-input" type="email" placeholder="Stay in the loop  - sign up with your email">
        <button class="btn btn--form" type="submit">Subscribe</button>
      </form>
    </div>
    <div class="footer__link">
      <ul class="footer__help">
        <li class="footer__help-item">
          <p class="footer__help-title">Help Menu</p>
        </li>
        <li class="footer__help-item">
          <a href="" class="footer__help-link">About</a>
        </li>
        <li class="footer__help-item">
          <a href="" class="footer__help-link">Features</a>
        </li>
        <li class="footer__help-item">
          <a href="" class="footer__help-link">Works</a>
        </li>
        <li class="footer__help-item">
          <a href="" class="footer__help-link">Career</a>
        </li>
      </ul>
      <ul class="footer__contact">
        <li class="footer__contact-item">
          <a href="#" class="footer__contact-link">Contact</a>
        </li>
        <li class="footer__contact-item">
          <a href="#" class="footer__contact-link">Help & Support</a>
        </li>
        <li class="footer__contact-item">
          <a href="#" class="footer__contact-link">Privacy Policy</a>
        </li>
        <li class="footer__contact-item">
          <a href="#" class="footer__contact-link">Terms & Conditions</a>
        </li>
      </ul>
      <ul class="footer__product">
        <li class="footer__product-item">
          <p class="footer__product-title">Product</p>
        </li>
        <li class="footer__product-item">
          <a href="#" class="footer__product-link">Essential Landing Page</a>
        </li>
        <li class="footer__product-item">
          <a href="#" class="footer__product-link">Alpha Dashboard Pro</a>
        </li>
        <li class="footer__product-item">
          <a href="#" class="footer__product-link">Karnel Admin Dashboard</a>
        </li>
        <li class="footer__product-item">
          <a href="#" class="footer__product-link">Gray UI Kit</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
