@import '../../../vars';
@import '../../../mixins';

.students {
  background: $bg;
  color: $white;
  padding: 120px 0;
  margin-bottom: 150px;

  &__card {
      box-sizing: border-box;
      padding: 50px 45px 40px 45px;
      max-width: 500px;
      border-radius: 20px;
      background: $bg-card;
      // transform: translateX(26%);
      cursor: pointer;
  }
  &__card-text {
      @include text($ff, 400, 2rem, 3rem, $white);
      margin-bottom: 30px;
  }
  &__card-persone {
      display: flex;
      align-items: center;
      gap: 14px;
      img {
        width: 40px;
        height: 40px;
      }
  }
  &__persone{
      display: flex;
      flex-direction: column;
      gap: 4px;
  }
  &__persone-name {
      @include text($ff, 700, 1.6rem, 2rem, $white);
  }
  &__persone-prof {
      @include text($ff, 400, 1.6rem, 2rem, $white);
      opacity: 0.8;
  }
}
.title--students {
  text-align: center;
  color: $white;
  margin-bottom: 20px;
}
.subtitle--students {
  margin: 0 auto;
  color: $white;
  text-align: center;
  max-width: 550px;
  margin-bottom: 100px;
  opacity: 0.8;
}
