<section class="students">
  <div class="container">
    <h3 class="title title--students" data-aos="zoom-in-down" data-aos-duration="1000">What my students say</h3>
  <p class="subtitle subtitle--students" data-aos="zoom-in-up" data-aos-duration="1000">
    Create custom landing pages with Shades that convert more visitors than any website—no coding required.
  </p>

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="students__card">
        <p class="students__card-text">
          “I waited to completely finish the course to rate it. This was my first approach to python, i am an excel and VBA user. The professor has an excellent way to explain it and a lot or order and organization. I really recommend it.”
        </p>
        <div class="students__card-persone">
          <img src="../../../assets/images/Henk.png" alt="">
          <div class="students__persone">
            <p class="students__persone-name">Henk Fortuin</p>
            <p class="students__persone-prof">Founder of Crips</p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="students__card">
        <p class="students__card-text">
          “I waited to completely finish the course to rate it. This was my first approach to python, i am an excel and VBA user. The professor has an excellent way to explain it and a lot or order and organization. I really recommend it.”
        </p>
        <div class="students__card-persone">
          <img src="../../../assets/images/Opi.png" alt="">
          <div class="students__persone">
            <p class="students__persone-name">Opi Watihana</p>
            <p class="students__persone-prof">Founder of Crips</p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="students__card">
        <p class="students__card-text">
          “I waited to completely finish the course to rate it. This was my first approach to python, i am an excel and VBA user. The professor has an excellent way to explain it and a lot or order and organization. I really recommend it.”
        </p>
        <div class="students__card-persone">
          <img src="../../../assets/images/Ann.png" alt="">
          <div class="students__persone">
            <p class="students__persone-name">Annie Reyes</p>
            <p class="students__persone-prof">Founder of Crips</p>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  </div>
</section>
