//Fonts:
$ff: 'Mulish', sans-serif;
$f-mon: 'Montserrat', sans-serif;


//Color:
$white:#ffffff;
$black: #000;
$title: #001A49;
$text: #4F596A;
$shadow: #818A8C;
$purpure: #9F07FF;
$border: #E7EAEB;
$bg-before: #8639B5;
$bg-border: rgba(186, 11, 255, 0.2);

$bg: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
$bg-circle: linear-gradient(35.71deg, #FFD7A9 9.11%, #FFAE70 71.64%);
$bg-block: linear-gradient(44.11deg, rgba(205, 16, 255, 0.05) 15.75%, rgba(159, 6, 255, 0.05) 84.63%);
$bg-card: rgba(76, 0, 112, 0.195968);
$bg-opac: linear-gradient(35deg, rgba(255,215,169,0.2) 9%, rgba(255,174,112,0.2) 71%);


//Transition:
$transition: all .4s ease-in-out;


//Breakpoints:
$desctop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


