@import 'vars';
@import 'mixins';

html{
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;

}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}

body {
	height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  overflow-x: hidden;
}

.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}


.title {
  @include text($f-mon, 700, 4.6rem, 5.6rem, $title);
}

.subtitle{
  @include text($ff, 400, 2rem, 3rem, $text);
}

.btn {
  @include text($ff, 700, 1.6rem, 2rem, $white);
  display: inline-block;
  border: 0;
  outline: 0;
  padding: 1.5rem 3rem;
  background: $bg;
  border-radius: 33px;
  cursor: pointer;
  transition: $transition;

}
